@font-face {
font-family: 'CirrusCumulus';
src: url('/CirrusCumulus.woff') format('woff');
}

@font-face {
font-family: 'Format';
src: url('/Format_1452.woff') format('woff');
  
}


@font-face {
font-family: 'Millimetre';
src: url('/Millimetre-Regular_web.woff') format('woff');
  
}





body {


  font-size: 40px;
   background-image: linear-gradient(to bottom right, #e2e2e2, #f4f4f4);
  
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px;
}

.grid-item { 
  border-style: solid;
  border-color: #0058ee;
  border-radius: 5px;
  border-width: 30px 2px 2px 2px;
  background-position:left top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
  height: 100px;
  z-index: 1;
}
  
.grid-typo {
  font-family: Arial;
  font-size: 30px;
  padding: 20px;
}

.typo-2{
  font-size: 60px;
}

.typo-3{
  font-size: 20px;
}

.item1 {
  grid-row: 3 / span 2;
}
  
.add-window-1 {
  border-style: solid;
  border-color: #0058ee;
  border-radius: 5px;
  border-width: 15px 1px 1px 1px;
  background-color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  position: fixed;
  left: 130px;
  top: 410px;
  overflow: scroll;
  z-index: 10;
}

.add-window-2 {
  border-style: solid;
  border-color: #0058ee;
  border-radius: 5px;
  border-width: 15px 1px 1px 1px;
  background-color: white;
  text-align: center;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 950px;
  top: 520px;
  overflow: scroll;
  z-index: 10;
}

.add-window-3 {
  border-style: solid;
  border-color: #0058ee;
  border-radius: 5px;
  border-width: 15px 1px 1px 1px;
  background-color: white;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 1140px;
  top: 120px;
  text-align: center;
  overflow: scroll;
  z-index: 10;
}

.add-window-4 {
  border-style: solid;
  border-color: #0058ee;
  border-radius: 5px;
  border-width: 15px 1px 1px 1px;
  background-color: white;
  text-align: center;
  width: 80px;
  height: 80px;
  position: fixed;
  left: 330px;
  top: 120px;
  overflow: scroll;
  z-index: 20;
}

.add-window-5 {
  border-style: solid;
  border-color: #0058ee;
  border-radius: 5px;
  border-width: 15px 1px 1px 1px;
  background-color: white;
  text-align: center;
  width: 50px;
  height: 50px;
  position: fixed;
  left: 1010px;
  top: 680px;
  overflow: scroll;
  z-index: 20;
}


h1 {
  position: centered;
  font-family: Millimetre;
  font-size: 80px;
  color: black;
}
p {
  position: centered;
  color: red;
}
