.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 50px;
}


body {
  background-color: powderblue;
  font-family: monospace;
  font-size: 40 px;
}
h1 {
  position: centered;
  color: blue;
}
p {
  position: centered;
  color: red;
}
